*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background: rgb(0,11,36);
    background: linear-gradient(90deg, rgba(0,11,36,1) 0%, rgba(7,6,92,1) 34%, rgba(9,98,121,1) 61%, rgba(0,212,255,1) 100%);
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-group input{
    background: rgb(0,34,36);
    background: linear-gradient(90deg, rgba(0,34,36,1) 0%, rgba(6,63,92,1) 34%, rgba(9,121,60,1) 61%, rgba(0,212,255,1) 100%);
    color: aliceblue;
    height: 50px;
    width: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: oblique;
    transition: .5s;
    border: 2px solid  #1f1818;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-group input:hover{
    cursor: pointer;
    scale: 1.1;
    background: #fff;
    color: #000;
}

#item_list{
    background-color: #d37777;
}

.list{
    margin-top: 20px;
    padding-top: 20px;
}